apiVersion: apps/v1
kind: Deployment
metadata:
  name: locust-master
  labels:
    app: locust-master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: locust-master
  template:
    metadata:
      labels:
        app: locust-master
    spec:
      containers:
      - name: locust-master
        image: {{ service.locust_image }}
        imagePullPolicy: Always
        command: [ "python3" ]
        args: [ "-m", "locust", "-f", "/s3blitzer/s3blitzer.py", "--master" ]
        ports:
        - containerPort: 8089
        - containerPort: 5557
      imagePullSecrets:
        - name: regcred