apiVersion: apps/v1
kind: Deployment
metadata:
  name: locust-worker
  labels:
    app: locust-worker
spec:
  replicas: {{ service.locust_workers }}
  selector:
    matchLabels:
      app: locust-worker
  template:
    metadata:
      labels:
        app: locust-worker
    spec:
      containers:
      - name: locust-worker
        image: {{ service.locust_image }}
        imagePullPolicy: Always
        command: [ "python3" ]
        args: [ "-m", "locust", "-f", "/s3blitzer/s3blitzer.py", "--worker", "--master-host", "locust-master-private" ]
      imagePullSecrets:
        - name: regcred

